---
---
.page-header {
  background-color: transparent;
  background-image: linear-gradient(120deg, #4169E1, #87CEFA, #4169E1);
  background-size: cover;
  background-position: center center;
  font-family: "cursive";
}

.btn {
  display: inline-block;
  color: rgb(0, 0, 128);
  padding: 0.75rem, 1rem;
  margin-bottom: 1rem;
  background-color: rgb(250, 250, 250);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  font-family: "URW Chancery L", cursive;
}

.main-content {
  max-width: 102rem;
  padding: 2rem 0.5rem;
  margin: 0 auto;
  font-size: 0.95rem;
  background-color: #00BFFF;
  background-size: cover;
  background-position: center center;
  font-family: "URW Chancery L", cursive;
  color: #00008B;
}

.center {
  margin: auto;
  width: 22%;
  padding: 1px;
  color: #E0FFFF;
  font-size: 20%;
  text-align: center;
}

.clearfix {
  overflow: auto;
}

.content-left {
  @media all and (mid-width: 960px) {
    width: 66%;
    float: left;
  }
}

.img-right {
  @media all and (mid-width: 960px) {
    width: 33%;
    float: right;
  }
}

img {
  border-radius: 15px;
  border: 4px solid #E6E6FA;
  padding: 40px;
  width: 300px;
  height: auto;
  float: right;
}

.column {
  float: right;
  padding: 25px;
  margin: 15px;
  width: 100%;
  height: 100%;
  text-align: left;
  border-bottom: 2px ridge white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.h3 {
  color: #F0FFFF;
  font-size: 145%;
}

.aside {
  float: right;
}

.h4 {
  color: #FFFFF0;
  font-size: 140%;
  font-family: "Times New Roman", Times, serif;
  text-decoration: underline;
}

.p {
  color: #E0FFFF;
}

.quote {
  width: 325px;
  border: 8px solid aqua;
  padding: 15px;
  margin: 20px;
  font-size: 130%;
  background-color: #6495ED;
  color: #FFFFFF;
  position: absolute;
  top: 70%;
  right: 1%;
  font-family: "Monotype Corsiva", Times, serif;
}

.header {
  float: center;
  text-align: center;
  color: #F8F8FF;
  font-size: 150%;
  font-family: Georgia, serif;
}

.paragraph {
  text-align: left;
  float: left;
  font-size: 115%;
  padding: 2px;
  margin: 0px;
  font-family: Georgia, serif;
}

.border {
  border: 6px solid #20B2AA;
  border-radius: 5px;
  background-color: #008080;
  width: 800px;
}

.border2 {
  border: 4px solid #20B2AA;
  border-radius: 2px;
  background-color: #008080;
  width: 600px;
}

.header2 {
  font-size: 105%;
  padding: 3px;
  margin: 1px;
}

.paragraph2 {
  color: #87CEEB;
}

.header3 {
  font-size: 130%;
  color: #F8F8FF;
  text-align: center;
  padding: 5px;
  margin: 1px;
}

.border5 {
  border: 4px solid #191970;
  background-color: #87CEEB;
  border-radius: 2px;
  width: 550px;
}

.quote2 {
  width: 345px;
  font-size: 135%;
  border: 8px solid aqua;
  padding: 15px;
  margin: 20px;
  color: #FFFFFF;
  background-color: #6495ED;
  position: absolute;
  top: 65%;
  right: 1%;
  font-family: "Monotype Corsiva", Times, serif;
}

.header4 {
  font-size: 135%;
  text-align: left;
  text-decoration: underline;
  color: #2E8B57;
  padding: 1px;
  margin: 0px;
  font-family: "Times New Roman", Times, serif;
}

.border3 {
  width: 625px;
  font-size: 112%;
  border: 4px solid #20B2AA;
  background-color: #40E0D0;
  font-family: Georgia, serif;
}

.border4 {
  width: 625px;
  font-size: 112%;
  border: 4px solid #20B2AA;
  background-color: #40E0D0;
  position: absolute;
  right: 1%;
  top: 62%;
  font-family: Georgia, serif;
}

.Paragraph3 {
  text-indent: 50px;
}

.quote3 {
  width: 310px;
  font-size: 135%;
  border: 7px solid aqua;
  padding: 15px;
  margin: 20px;
  color: #FFFFFF;
  background-color: #6495ED;
  font-family: "Monotype Corsiva", Times, serif;
}

.p2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 115%;
}
