<section class="page-header">
  <h1 class="project-name">Musical Instruments</h1>
  <h2 class="project-tagline"></h2>
  <nav id="main-navigation">
    <a href="{{'/' | relative_url }}" class="btn">Musical Instrument Home</a>
    <a href="{{ '/about/' | relative_url }}" class="btn">About</a>
    <a href="{{ '/history/' | relative_url }}" class="btn">History of Musical Instruments</a>
    <a href="{{ '/MIcatalog/' | relative_url }}" class="btn">Musical Instruments Catalog</a>
    <a href="{{ '/contact/' | relative_url }}" class="btn">Contact</a>
  </nav>
</section>
